*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(about.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-ba{
    background:black;
    text-align: center;
    
}
.menu-ba ul{
    display: inline-flex;
    list-style-type: none;
    color: aliceblue ;
}
.menu-ba ul li{
    width: 250px; 
    margin: 5px;
    padding: 4px;
}
.menu-ba ul li a{
    text-decoration: none;
    color: azure;
}
.active,.menu-ba ul li:hover{
    background:green;
    border-radius: 1px;
    

}
.sub-menu-1{
    display: none;
}
.menu-ba ul li:hover .sub-menu-1{
    display: block;
    position:absolute;
    background: plum;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-ba ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 15px;
}
.menu-ba ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 8px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}

.menu-ba ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-ba ul li:hover .sub-menu-1 ul li a:hover{
    color: gold ;
}
.sub-menu-2{
    display: none;
    
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: aqua;
}
p{
    text-align: center;
    /* background-image: url(bat.jpg); */
    /* background-color: chocolate; */
    margin: 1px;
    padding: 10px;
    color: black;
    /* font-size: px; */
    font-family: Arial, Helvetica, sans-serif;

}
h1{
    color: rgb(224, 218, 211);
    text-align: center;
}
.text{
    color: aquamarine;
    font-size: 25px;
    text-align: center;
}
.center{
    display: block;
    /* margin-left: 10%; */
    /* margin-right: auto; */
    width: 20%;
}
.name p{
    text-align: left;
    color: beige;
    font-size: 14px;
    
}
p img{
    display: block;
    margin-left:10%
    margin-top: 5%;
    height:auto;
    width: 50px;


}